<div style="margin-top: 10px; margin-bottom: 30px;" class="ui container">
    <form class="ui form" action="/user/edit" method="post">
        <div class="field">
            <label style="color: #fff">Password</label>
            <input type="password" required name="password" value="{{user.password_hash}}"><br>
        </div>
        <div class="field">
            <label style="color: #fff">API Key</label>
            <input type="text" required name="api_key" value="{{user.api_key}}"><br>
        </div>
        <button class="ui red button" type="submit">Update</button>
    </form>

    {% if _message %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('.message .close').addEventListener('click', () => {
                document.querySelector('.message').style.display = 'none';
            });
        });
    </script>
    <div class="ui {{_message_color}} message">
        <i class="close icon"></i>
        <div class="header">
            {{_message_header}}
        </div>
        <p>{{ _message }}</p>
    </div>
    <br />
    {% endif %}
</div>