<div class="ui center aligned fluid container" style="padding-top: 15px; padding-left: 50px; padding-right: 50px">
  <table class="ui small celled striped fixed table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Created</th>
        <th>Type</th>
        <th>Feedlist</th>
        <th>Description</th>
        <th>Category</th>
        <th>Refreshed</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for feedlist in feed_lists %}
      <tr>
        <td>{{ feedlist.id }}</td>
        <td>
          {% if feedlist.active == True %}
          Enabled
          {% else %}
          Disabled
          {% endif %}
        </td>
        <td>{{ feedlist.time_created }}</td>
        <td>{{ feedlist.list_type }}</td>
        <td>
          <a href="{{feedlist.url}}" target="_blank">{{ feedlist.name }}</a>
        </td>
        <td>{{ feedlist.description }}</td>
        <td>{{ feedlist.category }}</td>
        <td>{{ feedlist.list_period }}</td>
        <td>
          {% if feedlist.active == True %}
          <a class="ui compact" href="/feeds/update/{{ feedlist.id }}">Disable Feed</a>
          {% else %}
          <a class="ui compact" href="/feeds/update/{{ feedlist.id }}">Enable Feed</a>
          {% endif %}
          <br />
          <a class="ui compact" href="/feeds/delete/{{ feedlist.id }}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>