<div class="ui center aligned fluid container" style="padding-top: 15px; padding-left: 50px; padding-right: 50px">
  <table class="ui small celled striped fixed table">
    <thead>
      <tr>
        <th>IOC ID</th>
        <th>IOC Created</th>
        <th>Indicator ID</th>
        <th>Type</th>
        <th>IOC</th>
        <th>Notes</th>
        <th>Tags</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for ioc in search_results %}
      <tr>
        <td><a href="/api/iocs/{{ ioc.id }}">{{ ioc.id }}</a></td>
        <td>{{ ioc.time_created }}</td>
        <td><a href="/indicator/results/{{ ioc.indicator_scan.id }}">{{ ioc.indicator_scan.id }}</a></td>
        <td>{{ ioc.indicator_type }}</td>
        <td>
          <a href="/indicator/results/{{ ioc.indicator_scan.id }}">{{ ioc.indicator }}</a>
        </td>
        <td>{{ ioc.indicator_scan.notes }}</td>
        <td>
          <div class="ui labels">
            {{ render_partial("shared/_indicator_tags.html", indicator=ioc.indicator_scan) }}
          </div>
        </td>
        <td>
          <a class="ui compact" href="/iocs/delete/{{ ioc.id }}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>