<div class="ui center aligned fluid container" style="padding-top: 15px; padding-left: 50px; padding-right: 50px">
  <table class="ui small celled striped fixed table">
    <thead>
      <tr>
        <th class="one wide">IOC ID</th>
        <th class="two wide">IOC Created</th>
        <th class="one wide">Indicator ID</th>
        <th class="one wide">Type</th>
        <th class="six wide" style="word-wrap: break-word">IOC</th>
        <th class="left aligned">Notes</th>
        <th class="left aligned">Tags</th>
        <th class="one wide">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for ioc in search_results %}
      <tr>
        <td><a href="/api/iocs/{{ ioc.id }}">{{ ioc.id }}</a></td>
        <td>{{ ioc.time_created }}</td>
        <td><a href="/indicator/results/{{ ioc.indicator_scan.id }}">{{ ioc.indicator_scan.id }}</a></td>
        <td>{{ ioc.indicator_type }}</td>
        <td>
          <a href="/indicator/results/{{ ioc.indicator_scan.id }}">{{ ioc.indicator }}</a>
        </td>
        <td>{{ ioc.indicator_scan.notes }}</td>
        <td>
          <div class="ui labels">
            {{ render_partial("shared/_indicator_tags.html", indicator=ioc.indicator_scan) }}
          </div>
        </td>
        <td>
        <center>
          <a
            class="ui compact red tiny button"
            href="/iocs/delete/{{ ioc.id }}"
            >Delete</a
          >
        </center>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
