<div class="ui center aligned fluid container" style="padding-top: 15px; padding-left: 50px; padding-right: 50px">
  <table class="ui small celled striped fixed table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Created</th>
        <th>Created By</th>
        <th>Type</th>
        <th>Indicator</th>
        <th>Notes</th>
        <th>Tags</th>
        <th>JSON</th>
        <th>Actions</th>
    </thead>
    <tbody>
      {% for indicator in search_results %}
      <tr>
        <td>
          <a href="/indicator/results/{{ indicator.id }}">{{ indicator.id }}</a>
        <td>{{ indicator.time_created }}</td>
        <td>{{ indicator.creator.username }}</td>
        <td>{{ indicator.indicator_type }}</td>
        <td>
          <a href="/indicator/results/{{ indicator.id }}">{{ indicator.indicator }}</a>
        </td>
        <td>
          {% if indicator.notes %}
          {{ indicator.notes }}
          {% endif %}
        </td>
        <td>
          <div class="ui labels">
            {{ render_partial("shared/_indicator_tags.html", indicator=indicator) }}
          </div>
        </td>
        <td>
          <a href="/api/indicator/{{ indicator.id }}">JSON</a>
        </td>
        <td>
          {% if indicator.ioc_id %}
          <div class="ui labels">
            <a class="ui compact" href="/iocs/delete/results/{{ indicator.id }}">Remove IOC</a>
            {% else %}
            <a class="ui compact" href="/iocs/mark_ioc/{{ indicator.id }}">IOC</a>
            {% endif %}
            <br>
            <a class="ui compact" href="/searches/delete/{{ indicator.id }}">
              Delete
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>