{{ render_partial("shared/_logo.html") }}
<div style="margin-top: 10px; margin-bottom: 30px" class="ui container">
  <form class="ui form" action="/indicator/create" method="post">
    <div class="field">
      <input type="text" required name="indicator"
        placeholder="Enter an IP, Hash, FQDN, URL, Email, Phone Number, or MAC Address" /><br />
    </div>
    <center>
      <button class="ui red button" type="submit">Search</button>
    </center>
  </form>

  {% if _message %}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      document
        .querySelector(".message .close")
        .addEventListener("click", () => {
          document.querySelector(".message").style.display = "none";
        });
    });
  </script>
  <div class="ui {{_message_color}} message">
    <i class="close icon"></i>
    <div class="header">{{_message_header}}</div>
    <p>{{ _message }}</p>
  </div>
  <br />
  {% endif %}
</div>