{{ render_partial("shared/_logo.html") }}
<div style="margin-top: 10px; margin-bottom: 30px" class="ui container">
  <form class="ui form" action="/indicator/create" method="post">
    <div class="field">
      <input type="text" required name="indicator"
        placeholder="Enter an IP, Hash, FQDN, URL, Email, Phone Number, User Agent, or MAC Address" /><br />
    </div>
    <center>
      <button class="ui red button" type="submit">Search</button>
    </center>
  </form>

  {{render_partial("shared/_message.html", _message=_message,
  _message_header=_message_header, _message_color=_message_color)}}
</div>