{% if indicator.tags %}
{% for key,value in indicator.tags.items()|sort %}
{% if key == "ioc" %}
<a class="ui red label" href="/api/iocs/{{value}}">
    {{key|snakecase_to_title}}
</a>

{% elif key in ["malicious", "error"] %}
<a class="ui red label"
    href="/searches?indicator_id=&indicator_name=&indicator_type=&indicator_tags={{key|snakecase_to_title}}&indicator_notes=&indicator_results=&indicator_ioc_id=">
    {{key|snakecase_to_title}}
</a>

{% elif key in ["suspicious","feedlist_match", "tweetfeed_match", "newly_created_domain",] %}
<a class="ui yellow label"
    href="/searches?indicator_id=&indicator_name=&indicator_type=&indicator_tags={{key|snakecase_to_title}}&indicator_notes=&indicator_results=&indicator_ioc_id=">
    {{key|snakecase_to_title}}
</a>

{% elif key == "known_binary" %}
<a class="ui green label"
    href="/searches?indicator_id=&indicator_name=&indicator_type=&indicator_tags={{key|snakecase_to_title}}&indicator_notes=&indicator_results=&indicator_ioc_id=">
    {{key|snakecase_to_title}}
</a>

{% elif key in ["tor", "mobile", "proxy"] %}
<a class="ui label"
    href="/searches?indicator_id=&indicator_name=&indicator_type=&indicator_tags={{key|snakecase_to_title}}&indicator_notes=&indicator_results=&indicator_ioc_id=">
    {{key|snakecase_to_title}} IP Address
</a>

{% elif key == "connection_type" and value in ["Mobile", "Residential", "Proxy", "Tor", "Datacenter"]%}
<a class="ui label"
    href="/searches?indicator_id=&indicator_name=&indicator_type=&indicator_tags={{key|snakecase_to_title}}&indicator_notes=&indicator_results=&indicator_ioc_id=">
    {{value}} IP Address
</a>

{% else %}
<a class="ui label"
    href="/searches?indicator_id=&indicator_name=&indicator_type=&indicator_tags={{value}}&indicator_notes=&indicator_results=&indicator_ioc_id=">
    {{key|snakecase_to_title}}: {{value}}
</a>
{% endif %}
{% endfor %}
{% endif %}