{% if indicator.complete %}
<script>
  function CopyTextToClipboard(text) {
    // Create a temporary textarea element to hold the text
    var tempTextarea = document.createElement("textarea");
    tempTextarea.value = text;

    // Append the textarea to the document
    document.body.appendChild(tempTextarea);

    // Select the text in the textarea
    tempTextarea.select();

    // Copy the selected text to the clipboard
    document.execCommand("copy");

    // Remove the temporary textarea
    document.body.removeChild(tempTextarea);
  }
</script>

<style>
  .image-container {
    float: left;
  }

  .image-container img {
    width: 22px;
  }

  .image-container img:hover {
    content: url("/static/images/icon-blue.png");
    width: 22px;
  }
</style>

<div class="ui segment">

  <h3 class="ui header">
    <div class="image-container" style="float: left;">
      <img src="/static/images/icon.png" alt="Copy to clipboard"
        onclick='CopyTextToClipboard("{{indicator.indicator}}")'>
    </div>
    <a class="ui small header" style="word-wrap: break-word; margin-left: 5px; "
      href="/indicator/results/{{ indicator.id }}">
      {{ indicator.indicator }}
    </a>
  </h3>

  <div class="ui labels">
    {{ render_partial("shared/_indicator_details.html", indicator=indicator) }}
    {% if indicator.notes %}
    <a class="ui purple label">
      Note
    </a>
    {% endif %}
    {% if indicator.tags %}
    {{ render_partial("shared/_indicator_tags.html", indicator=indicator) }}
    {% endif %}
  </div>
</div>

{% else %}
{{ render_partial("shared/_loading.html", indicator=indicator) }}
{% endif %}