{{ render_partial("shared/_logo.html") }}

<div style="margin-top: 10px; margin-bottom: 30px" class="ui container">

  <div class="form-container" style="display: flex;justify-content: center;align-items: center;">
    <form class="ui form" action="/iocs" method="get">
      <div class="fields">
        <div class="field">
          <input type="text" name="ioc_id" placeholder="ID">
        </div>
        <div class="field">
          <input type="text" name="ioc_name" placeholder="Indicator">
        </div>
        <div class="field">
          <input type="text" name="ioc_type" placeholder="Type">
        </div>
        <div class="field">
          <input type="text" name="indicator_id" placeholder="Indicator ID">
        </div>
      </div>
      <center>
        <div class="ui buttons">
          <button class="ui red button" type="submit">Filter <i class="fa-solid fa-filter"></i></button>
          <div class="or"></div>
          <button class="ui blue button" onclick="location.href='/iocs';">Clear <i
              class="fa-solid fa-filter-circle-xmark"></i></button>
        </div>
      </center>
    </form>
  </div>
  {{render_partial("shared/_message.html", _message=_message,
  _message_header=_message_header, _message_color=_message_color)}}
</div>