{% extends "base.html" %} {% block content %} 
{{ render_partial("shared/_logo.html") }}

{% if user %}
  <div style="margin-top: 10px; margin-bottom: 30px;" class="ui container">
    {{ render_partial("shared/_divider.html", text="Welcome, " + user.username, icon="fa-solid fa-user") }}
    <button class="ui blue fluid button" onclick="window.location.href='/'">
      Start Searching <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <div class="ui segment">
      <ul>
        <li><b>API Key:</b> {{user.api_key}}</li>
        <li><b>Time Created:</b> {{user.time_created}}</li>
        <li><b>Number of submitted indicators:</b> <a href="/search?indicator_id=&indicator_name=&indicator_type=&indicator_tags=&indicator_notes=&indicator_results=&indicator_ioc_id=&created_by={{ user.username }}">{{user.indicators | length}}</a></li>
      </ul>
    </div>
    <button class="ui red button" onclick="window.location.href='/user/logout'">
      Logout
    </button>
    <button class="ui blue button" style="float: auto;" onclick="window.location.href='/user/edit'">
      Edit User
    </button>
    <button class="ui red button" style="float: right;" onclick="window.location.href='/user/delete/{{user.api_key}}'">
      Delete User
    </button>
  </div>
{% else %}
  <div style="margin-top: 10px; margin-bottom: 30px;" class="ui container">
    {{ render_partial("shared/_divider.html", text="Login", icon="fa-solid fa-right-to-bracket") }}
    <button class="ui blue fluid button" onclick="window.location.href='/user/signup'">
      Create User
    </button>
    <br>
    {{ render_partial("user/_login_form.html", _message_header=_message_header, _message_color=_message_color, _message=_message) }}
  </div>
{% endif %}
{% endblock %}