{
    "ENV":"DEV",
    "SERVER_ADDRESS":"http://127.0.0.1:8000",
    "USER_INVITE_KEY":"axgza2j9JfRaTXAJcRXk5HKSE",
    "POSTGRES_USER":"postgres",
    "POSTGRES_PASSWORD":"postgres",
    "POSTGRES_DB":"postgres",
    "JWT_SECRET":"3c9175f8e12c80065fa048044e82e51a87ca005a5bb016ab6d",
    "JWT_ALGORITHM":"HS256",
    "JWT_ACCESS_TOKEN_EXPIRE_MINUTES": 30,
	"ENABLE_SLACK":false,
	"SLACK_BOT_TOKEN":"",
	"SLACK_CHANNEL":"_general",
	"VIRUSTOTAL_API_KEY":"",
	"AB_API_KEY":"",
	"IPQS_API_KEY":"",
	"GREYNOISE_COMMUNITY_API_KEY":"",
	"PROJECT_HONEYPOT_API_KEY":"",
	"APIVOID_API_KEY":"",
	"EMAILREP_API_KEY":"",
	"ECHOTRAIL_API_KEY":"",
	"SHODAN_API_KEY":"",
	"HYBRID_ANALYSIS_API_KEY":"",
	"BREACH_DIRECTORY_API_KEY":"",
	"CHECK_PHISH_API_KEY":"",
	"MALTIVERSE_API_KEY":""
}