{
    "SERVER_ADDRESS": "https://localhost",
    "HOSTNAME": "localhost",
    "USER_INVITE_KEY": "axgza2j9JfRaTXAJcRXk5HKSE",
    "POSTGRES_HOST": "172.190.0.4",
	"POSTGRES_PORT": "5433",
    "POSTGRES_USER": "indicator_search",
    "POSTGRES_PASSWORD": "j3fQtYSdwf2FT34nTfSFPD3iLsM6s6q6",
    "POSTGRES_DB": "indicator_search",
    "DOCKER_IMAGE_TAG": "indicator_search:latest",
    "DOCKER_REGISTRY": "registry-host:5000",
    "JWT_SECRET": "3c9175f8e12c80065fa048044e82e51a87ca005a5bb016ab6d",
    "JWT_ALGORITHM": "HS256",
    "JWT_ACCESS_TOKEN_EXPIRE_MINUTES": 10080,
	"ENABLE_SLACK": false,
	"SLACK_BOT_TOKEN": "",
	"SLACK_CHANNEL": "_general",
	"VIRUSTOTAL_API_KEY": "",
	"AB_API_KEY": "",
	"IPQS_API_KEY": "",
	"GREYNOISE_API_KEY": "",
	"GREYNOISE_ENTERPRISE": false,
	"PROJECT_HONEYPOT_API_KEY": "",
	"APIVOID_API_KEY": "",
	"EMAILREP_API_KEY": "",
	"ECHOTRAIL_API_KEY": "",
	"SHODAN_API_KEY": "",
	"HYBRID_ANALYSIS_API_KEY": "",
	"BREACH_DIRECTORY_API_KEY": "",
	"CHECK_PHISH_API_KEY": "",
	"MALTIVERSE_API_KEY": "",
	"NUMVERIFY_API_KEY": "",
	"WHATSMYBROWSER_API_KEY": ""
}