requests
ipaddress
fastapi 
uvicorn
python-multipart 
sqlalchemy 
jinja2
passlib
bcrypt
python-jose
fastapi-pagination
strictyaml
ipwhois==0.10.3
httpbl
jinja_partials
xmltodict
shodan
python-jose[cryptography]
pyjwt
maltiverse