<div style="margin-top: 10px; margin-bottom: 30px;" class="ui container">
    <form class="ui form" action="/feeds/add" method="post">
        <div class="field">
            <input type="text" required name="name" placeholder="Feed list name"><br>
        </div>
        <div class="field">
            <input type="text" required name="url" placeholder="URL where the feed list is hosted"><br>
        </div>
        <div class="field">
            <input type="text" name="description" placeholder="Description of this list (Optional)"><br>
        </div>
        <div class="field">
            <input type="text" required name="category" placeholder="Category (Malware, Spam, C2)"><br>
        </div>
        <div class="field">
            <div class="field">
                <select class="ui search dropdown">
                    <option value="">List Type</option>
                    <option value="ipv4">ip</option>
                    <option value="hash">hash</option>
                    <option value="fqdn">fqdn</option>
                </select>
            </div>
        </div>

        <div class="field">
            <input type="text" name="list_type" placeholder="How often does this list refresh (Optional)"><br>
        </div>
        <button class="ui red button" type="submit">Add</button>
    </form>

    {{render_partial("shared/_message.html", _message=_message,
    _message_header=_message_header, _message_color=_message_color)}}
</div>