<div style="margin-top: 10px; margin-bottom: 30px;" class="ui container">
    <form class="ui form" action="/user/edit" method="post">
        <div class="field">
            <label style="color: #fff">Password</label>
            <input type="password" required name="password" value="{{user.password_hash}}"><br>
        </div>
        <div class="field">
            <label style="color: #fff">API Key</label>
            <input type="text" required name="api_key" value="{{user.api_key}}"><br>
        </div>
        <button class="ui red button" type="submit">Update</button>
    </form>

    {{render_partial("shared/_message.html", _message=_message,
    _message_header=_message_header, _message_color=_message_color)}}
</div>