{% if indicator.complete %}
<script>
  function CopyTextToClipboard(text, button) {
    // Create a temporary textarea element to hold the text
    var tempTextarea = document.createElement("textarea");
    tempTextarea.value = text;

    // Append the textarea to the document
    document.body.appendChild(tempTextarea);

    // Select the text in the textarea
    tempTextarea.select();

    // Copy the selected text to the clipboard
    document.execCommand("copy");

    // Remove the temporary textarea
    document.body.removeChild(tempTextarea);

    // Change button color on click
    button.style.backgroundColor = '#28ba50'; // Change to the desired color

    // Set a timeout to revert the button color after 1 second (1000 milliseconds)
    setTimeout(function () {
      button.style.backgroundColor = ''; // Revert to the original color
      button.innerHTML = '<i class="fa-solid fa-copy"></i>'; // Revert to the original button text
    }, 500);

    // Update button text to indicate that the text has been copied
    button.innerHTML = '<i class="fa-solid fa-check"></i>';

  }
</script>

<style>
  .image-container {
    float: left;
  }

  .image-container img {
    width: 22px;
  }

  .image-container img:hover {
    content: url("/static/images/icon-blue.png");
    width: 22px;
  }
</style>

<div class="ui segment">
  <h3 class="ui header">
    <!-- Top right malicious_overlay/suspicious_overlay -->
    {%if indicator.tags %}

    {% if "malicious" in indicator.tags %}
    <img src="/static/images/malicious_overlay.png" style="   
    position:absolute;
    top:-3.5px;
    right:-1px; 
    width: 50px;
    border-radius: 0px 4px 0px 0px;">

    {% elif "suspicious" in indicator.tags %}
    <img src="/static/images/suspicious_overlay.png" style="   
    position:absolute;
    top:-3.5px;
    right:-1px; 
    width: 50px;
    border-radius: 0px 4px 0px 0px;">

    {% endif %}
    {% endif %}

    <a class="ui small header" style="word-wrap: break-word; margin-left: 5px; "
      href="/indicator/results/{{ indicator.id }}">
      {{ indicator.indicator }}
    </a>
  </h3>
  <div class="ui divider"></div>
  <div class="ui labels">
    <a class="ui label" onclick='CopyTextToClipboard("{{indicator.indicator}}", this)'><i
        class="fa-solid fa-copy"></i></a>
    {{ render_partial("shared/_indicator_details.html", indicator=indicator) }}
    {% if indicator.tags %}
    {{ render_partial("shared/_indicator_tags.html", indicator=indicator) }}
    {% endif %}
  </div>
</div>

{% else %}
{{ render_partial("shared/_loading.html", indicator=indicator) }}
{% endif %}